---

---

<a href="/">Inicio</a>
<a href="/about/">Sobre mi</a>
<a href="/blog/">Blog</a>



<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Acerca de mi</title>
	</head>
	<body>
		<h1>Soy un pana bien pepa</h1>
        <p>Estoy realizando el tutorial de astro de la pagina de astro</p>
	</body>
</html>
